.navbar {
    justify-content: space-between;
}

a {
    padding-right: 1rem;
    color: #fff;
    text-decoration: none;
}

.center h3{
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    
}