<mat-toolbar>
    <span>{{paymentService.paymentsForm.controls['$key'].value? "Edit Payment" : "New Payment"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClosePaymentForm()" tabindex="-1">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>

<form [formGroup]="paymentService.paymentsForm" class="normal-form" (submit)="onSubmitPayment()">
    <mat-grid-list cols="2" rowHeight="125px">
        <mat-grid-tile>
            <div class="controls-container">
                <input type="hidden" formControlName="$key">
                <mat-form-field>
                    <input formControlName="sourceAccountNumber" matInput placeholder="From Account*">
                    <mat-error>This is a mandatory field</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-select formControlName="currencyCode" placeholder="Currency Code*"> 
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let currency of currenciesService.currencies">
                            <mat-option value={{currency.$key}}>{{currency.code}}</mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error>This is a mandatory field</mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        
        <mat-grid-tile>
            <div class="controls-container">
                <mat-form-field>
                    <input formControlName="destinationAccountNumber" matInput placeholder="To Account*">
                    <mat-error>This is a mandatory field</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="amount" matInput placeholder="Amount*">
                    <mat-error>This is a mandatory field</mat-error>
                </mat-form-field>  
            </div>
        </mat-grid-tile>
    
        <mat-grid-tile>
            <div class="controls-container">
                <mat-form-field>
                    <input formControlName="paymentDescription" matInput placeholder="Description">
                </mat-form-field>        
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <div class="button-row">
        <button mat-raised-button color="primary" type="submit" [disabled]="paymentService.paymentsForm.invalid">Submit</button>
        <button mat-raised-button color="warn" (click)="clearPaymentForm()">Clear</button>
    </div>
    
</form>  
